/* ======= GENERAL LAYOUT ======= */

body {
  font-family: 'Open Sans';
  margin: 0px;
  padding: 0;
}

.la-container {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

header.main {
  transition: height 0.3s;
  background-image: url('../img/cover.jpg');
  background-size: cover;
  background-position: center center;
  padding: 100px 0;

  transition: padding 0.3s;
}


h1 {
  margin: 60px 0 0 0;
  float: right;
  font-size: 50px;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  color: white;

  transition: font-size 0.3s;
  transition: margin-top 0.3s;

}

header.main .logo {
  float: left;
  width: 200px;

  transition: width 0.3s;
}

header.main .logo img {
  width: 100%;
  display: block;
}

header.main .la-container {
  overflow: auto;
}


main.main > section {
  padding: 20px 0 100px 0;
}

main.main > section h2 {
  margin-bottom: 50px;
}

/* ====== NAV ====== */
nav ul {
  list-style: none;
  padding: 0;
}
nav li {
  padding: 5px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  /*display: block;*/
  padding: 5px 0;

  transition: color 0.1s;
}

nav a:hover {
  color: #CE2F31;
}



/* ===== TEAM MEMBERS' SECTION ====== */
section.team-members {
  border-bottom: 2px solid #CE2F31;
  background-color: rgba(0,0,0,0.1);
  /*height: 300px;*/

}

section.team-members .flex-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
section.team-members .flex-cards > * {
  display: block;
}

section.team-members .card {
  max-width: 230px;
  width: 22%;
  height: 250px;
  overflow: hidden;
  transition: margin 0.1s, width 0.3s;
}
section.team-members .card .front {
  background-position: center center;
  background-size: cover;
}

#meredith {background-image: url('../img/Meredith.gif');}
#joel {background-image: url('../img/Joel.gif');}
#belal {background-image: url('../img/Belal.gif');}
#steven {background-image: url('../img/Steven.gif');}

section.team-members .card .title {
  position: absolute;
  bottom: 0;
  height: 60px;
  text-align: center;
  width: 100%;
  background-color: rgba(255,255,255, .95);
  transition: color 0.1s;
}

 .card:hover  .title {
  color: #CE2F31;
 }

.card .title span {
  display: block;
  text-transform: uppercase;
}
.card .title .name {
  font-weight: bold;
}

.card .title .role {
  font-size: 12px;
}

/* ===== RULES SECTION ===== */
section.rules {
  overflow: auto;
}
.roles {
  list-style:disc;
  margin:10px;
}
section.rules main ul {
  list-style: none;
  padding: 10px;
}

section.rules h3 {
  color: #254FA5;
  font-size: 20px;
}

section.rules .content {
  width: 76%;
  margin-right: 2%;
  float: left;
}

section.rules .side-bar {
  width: 22%;
  float: right;
  position: relative;
}

section.rules .side-bar nav {
  position: relative;
  top: 0;
}

/*  ====== FLIPPING CARDS ======= */

.flipping-card-container {
  perspective: 1000px;
}

.card.two-sided {
  cursor: pointer;
  background-color: #aaa;
  position: relative;

  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  transition: box-shadow 0.3s;

}
.card.two-sided:hover {
  box-shadow: 0 0 1px rgba(0,0,0,0.7);
}

.card.two-sided > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition-duration: 0.3s;
}
.back {
  visibility: hidden;
  opacity: 0;
  transform: scale(-1,1);
}

.card.two-sided.flippedToBack {
  animation-name: showBackFace;
}
.card.two-sided.flippedToBack .back {transition-delay: 0.2s;visibility: visible; opacity: 1;}
.card.two-sided.flippedToBack .front {visibility: hidden; opacity: 0;}

.card.two-sided.flippedToFront {animation-name: showFrontFace }
.card.two-sided.flippedToFront .back {visibility: hidden; opacity: 0;}
.card.two-sided.flippedToFront .front {visibility: visible; opacity: 1;}

@keyframes showBackFace {
  from {
    transform: rotateY(0deg);
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0);
  }
  to {
    transform: rotateY(180deg);
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  }
}

@keyframes showFrontFace {
  from {
    transform: rotateY(180deg);
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
  }
  to {
    transform: rotateY(0deg);
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0);
  }
}

@media (max-width: 600px) {
  header.main {
    padding: 70px 0;
  }
  h1 {
    font-size: 30px;
    margin-top: 20px;
  }
  header.main .logo {
    width: 100px;
  }

  section.team-members {
    overflow: auto;
  }

  section.team-members .card {
    width: 35%;
    height: 250px;
    min-width: 150px;
    margin: 20px 5px;
  }
  section.team-members .card .title{
      /*height: auto;   */
  }
  section.rules .side-bar nav {
    position: static;
  }
  section.rules .content, section.rules .side-bar {
    float: none;
    width: auto;
  }

}

@media (max-width: 400px) {
  header.main {
    padding: 50px 0;
  }

  header.main h1 {
    float: none;
    /*margin: auto;*/
    text-align: center;
  }

  header.main .logo {
    float: none;
    margin: auto;
  }



  section.team-members .card {
    min-width: 130px;
    height: 150px;
    margin: 10px 0px;
  }
}
